body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}


main {
    margin: 50px 0;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    color: #555;
}

.main-button {
    background-color: #e7311d;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
}
