html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; 
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9; /
}

main {
    margin: auto; 
    max-width: 500px; 
    background-color: white; 
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

h1 {
    font-size: 2em;
    color: #e7311d;
    margin-bottom: 20px;
}

form div {
    margin-bottom: 15px;
    text-align: left; 
}

label {
    font-size: 1em;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus {
    border-color: #e7311d;
    outline: none;
}

.main-button {
    background-color: #e7311d;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    width: 100%; 
}

