<footer>
    <p>©Stock O' CESI, tout droit réservé</p>
    <div class="footer-links">
        <button class="contact-link" onclick="window.location.href='/stockocesi/mentions'">Mentions légales</button>
    </div>
</footer>