<header>
    <div class="header-container">
        <!-- Logo -->
        <div class="logo-container">
            <img src="/stockocesi/static/image/logo.png" alt="Logo de Stock O' CESI" class="logo">
        </div>

        <!-- Slogan -->
        <h4>Gérez vos stocks tout au long de l'année</h4>

        <!-- Menu burger -->
        <div class="burger-menu">
            <span class="burger-icon"></span>
            <nav class="nav-menu">
                <ul>
                    {% if session.user_id is not defined %}
                        <!-- Menu pour utilisateurs non connectés -->
                        <li><a href="/stockocesi/accueil">Accueil</a></li>
                        <li><a href="/stockocesi/login">Connexion</a></li>
                    {% else %}
                        <!-- Menu pour utilisateurs connectés -->
                        <li><a href="/stockocesi/accueil">Accueil</a></li>
                        <li><a href="/stockocesi/store">Magasins partenaires</a></li>
                        
                        {% if session.user_role == 'Admin' %}
                            {% if current_page != 'log' %}
                                <li><a href="/stockocesi/admin/log">Journal d'activité</a></li>
                            {% endif %}
                            <li><a href="/stockocesi/admin/add-account">Ajouter un compte</a></li>
                            <li><a href="/stockocesi/admin/manage-accounts">Gérer les comptes</a></li>
                            <li><a href="/stockocesi/admin/add-store">Ajouter un magasin</a></li>
                            <li><a href="/stockocesi/admin/manage-stores">Gérer les magasins</a></li>
                        {% endif %}
                        
                        <li><a href="/stockocesi/logout">Déconnexion</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <script src="/stockocesi/static/js/burger.js"></script>
    </div>
</header>