<header>
    <div class="header-container">
        <!-- Logo -->
        <div class="logo-container">
            <img src="/static/assets/img/logo.png" alt="Logo de Stock O' CESI" class="logo">
        </div>

        <!-- Slogan -->
        <h4>Gérez vos stocks tout au long de l'année</h4>

        <!-- Menu burger -->
        <div class="burger-menu">
            <span class="burger-icon"></span>
            <nav class="nav-menu">
                <ul>
                    {% if user is not defined %}
                        <!-- Lien pour les utilisateurs non connectés -->
                        <li><a href="/login">Connexion</a></li>
                    {% else %}
                        <!-- Lien pour les utilisateurs connectés -->
                        <li><a href="/store">Magasins partenaires</a></li>
                        
                        {% if user.role == 'admin' %}
                            <li><a href="/admin/log">Journal d'activité</a></li>
                            
                            {% if current_page == 'log' %}
                                <!-- Liens supplémentaires pour les administrateurs sur la page du journal -->
                                <li><a href="/admin/add-account">Ajouter un compte</a></li>
                                <li><a href="/admin/manage-accounts">Gérer les comptes</a></li>
                                <li><a href="/admin/add-store">Ajouter un magasin</a></li>
                                <li><a href="/admin/manage-stores">Gérer les magasins</a></li>
                            {% endif %}
                        {% endif %}
                        
                        <li><a href="/logout">Déconnexion</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <script src="/static/js/burger.js"></script>
    </div>
</header>