<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentions légales - Stock O' CESI</title>
    <link rel="stylesheet" href="/stockocesi/static/css/main.css">
</head>
<body>
    {% include 'layout/header.twig' %}

    <main>
        <section>
            <h1>Mentions légales</h1>

            <h2>1. Présentation du site</h2>
            <p>
                Le site <strong>Stock O' CESI</strong> est édité par :
                <br><br>
                <strong>Nom de l'entreprise :</strong> Stock O' CESI<br>
                <strong>Adresse :</strong> 93 Boulevard de l’Innovation, 75000 Paris, France<br>
                <strong>Téléphone :</strong> +33 6 21 12 37 39<br>
                <strong>Email :</strong> contact@stockocesi.com<br>
                <strong>Numéro de SIRET :</strong> 123 456 789 00010<br>
                <strong>Directeur de publication :</strong> Anas BAZI
            </p>

            <h2>2. Hébergement</h2>
            <p>
                Le site est hébergé par :
                <br><br>
                <strong>Nom de l’hébergeur :</strong> OVH<br>
                <strong>Adresse :</strong> 2 rue Kellermann, 59100 Roubaix, France<br>
                <strong>Téléphone :</strong> +33 9 72 10 10 07<br>
                <strong>Site web :</strong> <a href="https://www.ovhcloud.com" target="_blank">www.ovhcloud.com</a>
            </p>

            <h2>3. Propriété intellectuelle</h2>
            <p>
                Tous les éléments du site <strong>Stock O' CESI</strong> sont protégés par la législation sur le droit d’auteur. 
                Toute reproduction ou représentation, en tout ou partie, est interdite sans autorisation préalable.
            </p>

            <h2>4. Données personnelles</h2>
            <p>
                Les données collectées sur ce site sont utilisées uniquement dans le cadre du fonctionnement de <strong>Stock O' CESI</strong>.
                Conformément au RGPD, vous disposez d'un droit d'accès, de rectification, de suppression et d'opposition sur vos données personnelles.
                Pour exercer ces droits, veuillez nous contacter à l’adresse suivante : <strong>contact@stockocesi.com</strong>
            </p>

            <h2>5. Responsabilité</h2>
            <p>
                <strong>Stock O' CESI</strong> décline toute responsabilité en cas de dommages causés par l'utilisation de ce site.
            </p>

            <h2>6. Modification des mentions légales</h2>
            <p>
                Les présentes mentions légales peuvent être modifiées à tout moment. Il est recommandé de les consulter régulièrement.
            </p>
        </section>
    </main>

    {% include 'layout/footer.twig' %}
</body>
</html>